<div class="center">
  <div class="introduccion">
    <header>
      <i class="fa-solid fa-pen-to-square"></i>
      <h1>{{ miPortfolio.nombre }} {{ miPortfolio.apellido }}</h1>
      <h2>Sobre mi</h2>
      <p>
        {{ miPortfolio.descripcion }}
      </p>

      <div>
        <span class="ubicacion">
          <p>
            Ubicación <i class="fa-solid fa-location-dot"></i>
            {{ miPortfolio.ubicacion }}
          </p>
        </span>
      </div>
    </header>

    <img src="./assets/img/laptop-cat.gif" />
  </div>
</div>
