<div class="center">
  <div class="introduccion">
    <header>
      <div>
        <button
          type="button"
          data-toggle="modal"
          data-target="#editarPersonaModal"
          (click)="onOpenModal('editar', persona)"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          type="button"
          data-toggle="modal"
          data-target="#borrarPersonaModal"
        >
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>
      <h1>{{ persona.nombre }} {{ persona.apellido }}</h1>
      <h2>Sobre mi</h2>
      <p class="descripcion">
        {{ persona.descripcion }}
      </p>

      <div>
        <span class="ubicacion">
          <p>
            Ubicación <i class="fa-solid fa-location-dot"></i>
            {{ persona.ubicacion }}
          </p>
        </span>
      </div>
    </header>

    <img src="./assets/img/laptop-cat.gif" />
  </div>
</div>

<!-- Modal editar -->

<div
  class="modal fade"
  id="editarPersonaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editarPersonaModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarPersonaModal">Editar Datos</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" (ngSubmit)="onEditarPersona(editForm.value)">
          <div class="form-group">
            <input
              type="hidden"
              name="id"
              class="form-control"
              id="id"
              ngModel="{{ editarPersona?.id }}"
            />

            <label for="nombre">Nombre:</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              id="nombre"
              ngModel="{{ editarPersona?.nombre }}"
            />
          </div>

          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input
              type="text"
              class="form-control"
              name="apellido"
              id="apellido"
              ngModel="{{ editarPersona?.apellido }}"
            />
          </div>

          <div class="form-group">
            <label for="descripcion">Sobre mi:</label>
            <textarea
              class="form-control"
              id="descripcion"
              name="descripcion"
              rows="3"
              ngModel="{{ editarPersona?.descripcion }}"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="ubicacion">Ubicación:</label>
            <input
              type="text"
              class="form-control"
              name="ubicacion"
              id="ubicacion"
              ngModel="{{ editarPersona?.ubicacion }}"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button
          [disabled]="editForm.invalid"
          type="submit"
          class="buttonmodal"
          id="editar-persona-form"
          data-dismiss="modal"
          (click)="onEditarPersona(editForm.value)"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Borrar Modal -->
<div
  data-toggle="modal"
  data-target="#borrarPersonaModal"
  class="modal fade"
  id="borrarPersonaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="borrarPersonaModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar datos</h5>
        <button
          type="button"
          class="close"
          data-dismiss="moda"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Estás segurx que querés borrar los datos de
          {{ persona.nombre }} ?
        </p>
        <div class="moda-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button class="btn btn-danger" data-dismiss="modal">
            Borrar
            <!-- (click)="onBorrarEducacion(borrarEducacion.id)" -->
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
