<div class="estudios">
  <h2 class="estudios-titulo">
    Estudios
    <div>
      <button type="button" data-toggle="modal" data-target="#agregarEducacion">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </h2>

  <div>
    <h3>Cursos</h3>
    <ng-container *ngFor="let educacion of educaciones">
      <p class="año">{{ educacion["año"] }}</p>
      <div class="titulocurso-botones">
        <p class="titulo-curso">"{{ educacion.titulo }}"</p>
        <div>
          <button
            type="button"
            data-toggle="modal"
            data-target="#editarEducacion"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>

          <button type="button">
            <i
              class="fa-solid fa-trash-can"
              data-toggle="modal"
              data-target="#borrarEducacion"
            ></i>
          </button>
        </div>
      </div>
      <p class="subtitulo-curso">{{ educacion.subtitulo }}</p>
      <p>
        {{ educacion.descripcion }}
      </p>
    </ng-container>
  </div>
</div>

<!-- Modal editar educacion -->

<div
  class="modal fade"
  id="editarEducacion"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editarEducacionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarEducacionModalLabel">
          Editar Educación
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre">Año:</label>
            <input type="text" class="form-control" />
          </div>

          <input type="hidden" name="id" class="form-control" id="id" />

          <div class="form-group">
            <label for="apellido">Título:</label>
            <input type="text" class="form-control" />
          </div>

          <div class="form-group">
            <label for="descripcion">Subtítulo:</label>
            <input type="text" class="form-control" />
          </div>

          <div class="form-group">
            <label for="ubicacion">Descripción:</label>
            <textarea class="form-control" id="descripcion" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="buttonmodal">Guardar</button>
      </div>
    </div>
  </div>
</div>
