<div class="estudios">
  <!-- *ngFor="let educacion of educaciones" -->
  <h2>Estudios <i class="fa-solid fa-pen-to-square"></i></h2>

  <h3>Cursos</h3>
  <p class="año">2021</p>
  <p class="titulo-curso">"PHP Full Stack"</p>
  <p>(Programa Codo a Codo)</p>
  <p>
    <!-- {{ educacion.descripcion }} -->
    <!-- Desarrollo front-end(HTML, CSS, JavaScript, Bootstrap) y back-end(PHP,
    MySQL). Duración 5 meses. -->
  </p>

  <p class="titulo-curso">"#SéProgramar"</p>
  <p>(Argentina Programa)</p>
  <p>
    Conocimientos básicos de programación y lógica (Gobstones, JavaScript, Ruby
    orientado a objetos).
  </p>

  <p class="titulo-curso">"Habilidades Blandas"</p>
  <p>(Codo a Codo + Accenture)</p>
  <p>Autoconfianza, comunicación, trabajo en equipo.</p>

  <p class="año">2022</p>
  <p class="titulo-curso">"#YoProgramo"</p>
  <p>(Argentina Programa parte II)</p>
  <p>
    Programación Full-stack Web Jr (HTML, CSS, TypeScript, Bootstrap, Angular,
    MySQL, Java Springboot, Apache Tomcat). Duración 7 meses.
  </p>

  <p class="titulo-curso">"Become a front-end developer with Altimetrik"</p>
  <p>(Altimetrik Bootcamp)</p>
  <p>HTML, CSS, JavaScript. Duración 2 meses.</p>
</div>
