html {
  height: 100%;
}

body {
  background: linear-gradient(
    0deg,
    rgba(255, 247, 191, 1) 0%,
    rgba(195, 228, 201, 1) 45%
  );
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  color: #153c3d;
  background: #cda0cc;
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

#password,
#email {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0rem 0.5rem 0rem;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-radius: 40px;
}

button {
  width: 100px;
  padding: 5px;
  border-radius: 50px;
  color: #153c3d;
  background: #faec86;
}

button:hover {
  color: #153c3d;
  background: rgb(245, 251, 203);
}

.ngIf {
  font-size: 12px;
  color: rgb(228, 38, 38);
}
