body {
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(255, 247, 191, 1) 0%,
    rgba(195, 228, 201, 1) 45%
  );
}

.form-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 400px;
}

#password,
#email {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0rem 0.5rem 0rem;
  justify-content: center;
}

input {
  width: 450px;
  padding: 0.5rem;
  border-radius: 40px;
  border: none;
}

button {
  width: 100px;
  height: 20px;
}

.ngIf {
  font-size: 12px;
  color: rgb(228, 38, 38);
}
