@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;800&display=swap");

/* 
colors:
yellow #faec86 
violet #cda0cc
second green #88ab8d
violet bckgrnd #c0bac8
yellow bckgrnd #dfe8a7
*/

body {
  background: linear-gradient(
    0deg,
    rgba(255, 247, 191, 1) 0%,
    rgb(202, 227, 181) 40%,
    rgb(198, 233, 204) 100%
  );
  color: #153c3d;
  font-family: "Raleway";
  margin: auto;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  margin: 5px 0 5px 0;
}

/*scrollbar color*/
html {
  --scrollbarBG: #a9d1af;
  --thumbBG: #88ab8d;
}
body::-webkit-scrollbar {
  width: 18px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 8px;
  border: 3px solid var(--scrollbarBG);
}

/* mouse selector */
::selection {
  background-color: #cda0cc;
  color: white;
}

/* Header */
.center {
  display: flex;
  justify-content: center;
}
header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.introduccion {
  margin-top: 12rem;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: row;
  text-align: justify;
  width: 950px;
  gap: 50px;
}

.descripcion {
  font-size: 20px;
}

.ubicacion {
  margin: 20px;
}

.fa-location-dot {
  margin: 12px;
}

img {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h1 {
  font-size: 3rem;
  background-color: #faec86;
  font-weight: bolder;
  margin: 30px;
}

/* Botones */
button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 1px;
}

.buttonmodal {
  background-color: #cda0cc;
  color: aliceblue;
  cursor: pointer;
  padding: 7px;
  border-radius: 3px;
}

.buttonmodal:hover {
  background-color: #ebc6ea;
}

.contenido {
  display: grid;
  grid-template-columns: 27% 27%;
  column-gap: 150px;
  place-content: center;
}

/* Estudios */
.estudios {
  justify-content: center;
  display: grid;
}

.fa-pen-to-square,
.fa-trash-can,
.fa-plus {
  color: #2f4b4b;
  padding: 5px;
}
.fa-pen-to-square:hover,
.fa-trash-can:hover,
.fa-plus:hover {
  color: #cda0cc;
  cursor: pointer;
}

.estudios-titulo,
.habilidades-titulo {
  display: flex;
  justify-content: space-between;
}

.titulocurso-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titulo-curso {
  font-weight: bold;
  background-color: #88ab8d;
  color: white;
}
.subtitulo-curso {
  font-size: 13px;
  font-style: italic;
}
.año {
  color: #153c3d;
}

/* Habilidades */
.habilidades {
  display: grid;
}
.lenguajes {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 0px 50px 50px 0px;
  gap: 20px;
}

.habilidad-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #cda0cc;
  color: aliceblue;
  border-radius: 50px;
  margin: 4px;
  align-items: center;
  gap: 2px;
}

.habilidad-item:hover {
  background-color: #ebc6ea;
}

.habilidad-icon {
  margin: 4px;
  width: 20px;
  height: 20px;
  filter: invert(100%);
}
.idiomas {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Contacto */
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacto-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.contacto a {
  text-decoration: none;
  color: #153c3d;
  font-size: larger;
  margin-right: 15px;
}

a:hover {
  font-weight: bold;
  color: #cda0cc;
  background-color: #faec86;
}

.fa-envelope,
.fa-linkedin,
.fa-github-square {
  margin-right: 13px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  font-size: small;
  margin-top: 50px;
}
