<h2>Habilidades <i class="fa-solid fa-pen-to-square"></i></h2>
<h3 class="desarrollo">Desarrollo</h3>
<p class="lenguajes">
  <i class="fa-solid fa-code"></i>HTML
  <i class="fa-brands fa-css3-alt"></i>CSS<br />
  <i class="fa-brands fa-sass"></i>SASS
  <i class="fa-brands fa-git-alt"></i>GIT<br />
  <i class="fa-brands fa-js-square"></i>JavaScript
  <i class="fa-brands fa-bootstrap"></i>Bootstrap<br />
  <i class="fa-brands fa-php"></i>PHP básico
  <i class="fa-brands fa-java"></i>Java básico<br />
  <i class="fa-brands fa-angular"></i>Angular básico
  <i class="fa-solid fa-database"></i>MySQL<br />
  <br />
</p>

<p>Actualmente aprendiendo <i class="fa-brands fa-react"></i> React</p>

<div class="idiomas">
  <h3>Idiomas</h3>
  <p>Inglés avanzado</p>
</div>

<div class="otras-habilidades">
  <h3>Otras Habilidades</h3>
  <p>Adobe Photoshop • Adobe Illustrator • Ilustración</p>
</div>
